/* @tailwind base; */
@tailwind components;
@tailwind utilities;

/* @layer base { */
:root {
  --navigation-height: 4.8rem;
}

html {
  @apply bg-background font-sans text-off-white;
  font-size: 62.5%;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}
/* } */
